body {
    background-color: #283044;
    color: #EDF5FC;
    text-align: center;
    font-family:'Lora', serif;
    font-size: large;
    margin: 3em;
    padding: 3em;
}

.content-wrap {
    width: 1000px;
    margin: 0 auto;
}

img {
    margin: 2em;
    padding: 1em;
    border: #F79256 solid 4px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: #93ACB5;
    font-family: 'Chicle', cursive;
    font-size: 5em;
    text-shadow: 2px 2px 3px #EDF5FC;
}

h2 {
    text-align: center;
    color: #93ACB5;
    font-family: 'Chicle', cursive;
    font-size: 3em;
}

h3 {
    text-align: center;
    color: #EDF5FC;
    font-family: 'Lora', serif;
    font-size: x-large;
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: circle;
}

a:link {
    color: #F5CAC3;
}

a:hover {
    color: #ABE188
}

a:visited {
    color: #F79256
}